# Azurite is a lightweight server clone of Azure Storage that simulates most of the commands supported by it with minimal dependencies.
__azurite_*.json
__blobstorage__/
__queuestorage__/
.DS_Store
azure-certification-renewal-az-204-azure-developer-associate.generated.sln
